body {
	display: flex;
	align-items: center;
	flex-flow: column;
}
.block {
	border: solid 1px;
	padding: 5px;
	margin: 2px;
	width: 350px;
}
.flex {
	display: flex;
}
.center {
	justify-content: center;
	align-items: center;
}
@media (max-width: 364px) {
	.block {
		width: 100%;
	}
}
